@import "../../variables.scss";

.Youtube {
  background: rgba($black, 0.8);
  z-index: 4;
  border-radius: 3px;
  box-shadow: $color-shadow;
  width: 40rem;
  height: 30rem;
  @include absolute-center;
  transform: translate(150%, -50%);
  opacity: 0;
  transition: all 0.8s;
  &:target {
    opacity: 1;
    transform: translate(-50%, -50%);

    & > .youtube__video {
      display: block;
    }
  }

  @include respond(tab-land) {
    transform: translate(130%, -50%);
  }
  @include respond(tab-port) {
    transform: translate(80%, -50%);
    width: 40rem;
    height: 30rem;
  }
  @include respond(phone) {
    transform: translate(40%, -50%);
    width: 40rem;
    height: 30rem;
  }
}
.youtube__close {
  @include reset-anchor;
  position: absolute;
  top: 1rem;
  right: 1rem;
  text-transform: capitalize;
  font-family: sans-serif;
  font-size: $font-md;
  color: $black;
  &:hover {
    color: $pink;
  }
  @include respond(phone) {
    font-size: $font-sm;
  }
}
.youtube__video {
  display: none;
  border-radius: inherit;
  @include absolute-center;
  width: 80%;
  height: 70%;
}
